<!-- base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet"  href=" {% static 'css/base.css' %} ">
    
   
</head>
<body>

    <div class="navbar">
        <ul>
            <li>
                <a href="/" hx-get="/" hx-target="#content" hx-push-url="true" 
                   {% if request.path == '/' %} class="active" {% endif %}>
                    Classify Tumor
                </a>
            </li>
            <li>
                <a href="/riskcalc/" hx-get="/riskcalc/" hx-target="#content" hx-push-url="true"
                   {% if request.path == '/riskcalc/' %} class="active" {% endif %}>
                    Calculate Risk
                </a>
            </li>
        </ul>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
