<!-- imgClassifier.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet"  href=" {% static 'css/imgclassifier.css' %} ">
<div class="container">
    <h1>Brain Tumor Classifier</h1>
    <form method="post" enctype="multipart/form-data" hx-post="." hx-target="#content">
        {% csrf_token %}
        <input type="file" name="image" id="inputField">
        <button type="submit" id="submitButton" >Upload</button>
    </form>
    {% if result %}
        <div class="result">Result: {{ result }}</div>
    {% endif %}
</div>
{% endblock %}
